body 
{
    background-color: white;
    margin: 0;
    position: fixed;
}

@font-face 
{
    font-family:CintaSemibold;
    src: url('fonts/CintaSemibold.otf');
}

@font-face 
{
    font-family:CintaLight;
    src: url('fonts/CintaLight.otf');
}

@font-face 
{
    font-family:CintaHeavy;
    src: url('fonts/CintaHeavy.otf');
}

@font-face 
{
    font-family:CintaBook;
    src: url('fonts/CintaBook.otf');
}

/*============ нижние панели ===============================================*/

    /*=== нижняя панель главной страницы ===*/

/*общий блок*/
.test_bottom_panel_main_page    
{
    position:absolute;
    display:block;
	margin-top: 0;
	margin-left: 0;
	height:14vh;
	width:100vw;
	background: white;
	box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

/*кнопка редактирования тестов*/
.test_panel_button_edit_test
{
	position:absolute;
	margin-top: 0;
	margin-left: 11vw;
	height:7vh;
	width:7vh;
	display: block;
    border:none;
    outline:none;
    -webkit-user-select:none;
	background-image: url('../img/edit2.png');
	background-size: cover;
	background-color: transparent;
}

/*кнопка добавления тестов*/
/*.test_panel_button_add_test
{
    margin-top: 0;
	margin-left: auto;
    margin-right: auto;
	height:7vh;
	width:7vh;
	display: block;
    border:none;
    outline: none;
    -webkit-user-select:none;
	background-image: url('../img/add.png');
	background-size: cover;
	background-color: transparent;
	transition:all 0.3s ease;
}
.test_panel_button_add_test:active
{
	opacity: 0;
}*/

.test_panel_button_add_test_wide
{
    background-color: transparent;
    border:none;
    outline: none;
    -webkit-user-select: none;
    margin-top: 0;
    margin-left: 48vw;
    height:7vh;
    width:40vw;
    text-align: left;
    display: block;
    color:#bfbfbf;
    font-family:CintaSemibold;
    font-size: 2.5vh;
}

.test_panel_button_add_test_plus
{
    position:absolute;
    margin-top: -2.5vh;
    margin-left: 30vw;
    height:2.2vh;
    width:2.2vh;
    background-image: url('../img/add_small.png');
    background-size: cover;
    background-color: transparent;
}

    /*=== панель главной страницы === конец ===*/

    /*=== панель редактирования тестов ===*/

.test_bottom_panel_edit_tests
{
    position:absolute;
    display:none;
    margin-top: 0;
    margin-left: 0;
    height:14vh;
    width:100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.test_panel_button_edit_test_filled
{
    position:absolute;
    margin-top: 0vh;
    margin-left: 11vw;
    height:7vh;
    width:7vh;
    display: block;
    border:none;
    outline:none;
    -webkit-user-select:none;
    background-image: url('../img/edit_filled.png');
    background-size: cover;
    background-color: transparent;
}

    /*=== панель редактирования тестов === конец ===*/

    /*=== панель названия нового теста ===*/

.transparent_plate
{
    display: none;
    /*z-index: 10;*/
    position: absolute;
    background: transparent;
    height: 60vh;
    width: 100vw;
    margin-left: 0;
    margin-top: -86vh;
}

.test_bottom_panel_add_test
{
    position: absolute;
    display:none;
    /*z-index: 11;*/
    margin-top: -26vh;
    margin-left: 0;
    height: 40vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.nazvanie_label
{
    /*position: absolute;*/
    margin-top: 0vw;
    margin-left: 15vw;
    height: 6vw;
    width: 60vw;
    background-color: transparent;
    color: rgb(191,191,191);
    font-family:CintaLight;
    font-size: 5vw;
}

.nazvanie_input
{
    /*position: absolute;*/
    margin-top: 0vw;
    margin-left: 15vw;
    height: 10vw;
    width: 65vw;
    background-color: transparent;
    color: black;
    font-family: CintaBook;
    font-size: 5vw;
    border: none;
    outline: none;
    -webkit-user-select: none;
}

.create_new_test_button
{
    background-color: transparent;
    height: 20vw;
    width: 45vw;
    margin-top: 8vw;
    margin-left: 55vw;
}

.create_new_test_text
{
    background-color: transparent;
    height: 20vw;
    width: 25vw;
    margin-top: 0vw;
    margin-left: 0vw;
    line-height: 20vw;
    font-family:CintaSemibold;
    text-align: right;
    font-size: 5vw;
    color: rgb(191,191,191);
}

.create_new_test_next
{
    /*position:absolute;*/
    margin-top: -17.5vw;
    margin-left: 25vw;
    height:15vw;
    width:15vw;
    display: block;
    border:none;
    outline:none;
    -webkit-user-select:none;
    background-image: url('../img/next.png');
    background-size: cover;
    background-color: transparent;
}

    /*=== панель названия нового теста === конец ===*/

    /*=== панель списка вопросов в тесте ===*/

.quest_bottom_panel_quest_list
{
    position:absolute;
    display:none;
    margin-top: 0;
    margin-left: 0;
    height:14vh;
    width:100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.quest_panel_bottom_list_back
{
    position: absolute;
    margin-top: 0vh;
    margin-left: 11vw;
    height: 7vh;
    width: 7vh;
    display: block;
    border: none;
    outline: none;
    -webkit-user-select: none;
    background-image: url('../img/back.png');
    background-size: cover;
    background-color: transparent;
}

.quest_panel_button_add_test_wide
{
    background-color: transparent;
    border:none;
    outline: none;
    -webkit-user-select: none;
    margin-top: 0;
    margin-left: 41vw;
    height:7vh;
    width:60vw;
    text-align: left;
    display: block;
    color:#bfbfbf;
    font-family:CintaSemibold;
    font-size: 2.5vh;
}

.quest_panel_button_add_test_plus
{
    position:absolute;
    margin-top: -2.5vh;
    margin-left: 41vw;
    height:2.2vh;
    width:2.2vh;
    background-image: url('../img/add_small.png');
    background-size: cover;
    background-color: transparent;
}

    /*=== панель списка вопросов в тесте === конец*/

    /*=== панель добавления ответа ===*/

.answer_bottom_panel_quest_list
{
    position:absolute;
    display:none;
    margin-top: -60vh;
    margin-left: 0;
    height:74vh;
    width:100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.answer_panel_bottom_list_back
{
    position: absolute;
    margin-top: 2vh;
    margin-left: 11vw;
    height: 7vh;
    width: 7vh;
    display: block;
    border: none;
    outline: none;
    -webkit-user-select: none;
    background-image: url('../img/down.png');
    background-size: cover;
    background-color: transparent;
}

.otvet
{
    margin-left: 12vw;
    height: 10vh;
    line-height: 10vh;
    width: 87vw;
    font-family:CintaBook;
    font-size: 5.5vw;
    color: #bfbfbf;
}

.ans_type
{
    height: 12vh;
    width: 100vw;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-user-select: none;
    transition: all 0.3s ease;
}
.ans_type:active
{
    opacity: 0;
}

.text_label
{
    height:7vw;
    /*line-height: 7vw;*/
    width:70vw;
    margin-left: 15vw;
    font-family:CintaSemibold;
    font-size: 5.5vw;
    color: black;
    text-align: left;
    background-color: transparent;
}

.text_label_sub
{
    height:7vw;
    /*line-height: 7vw;*/
    width:70vw;
    margin-left: 15vw;
    font-family:CintaBook;
    font-size: 4.5vw;
    color: #bfbfbf;   
    text-align: left;
    background-color: transparent;
}

    /*=== панель добавления ответа === конец*/

/*============ нижние панели ==== конец ===========================================*/




/*============ кнопки тестов ===============================================*/

/*плашка на случай если тестов нет*/

.plashka_na_sluchai_esli_testov_net
{
    margin-top: 30vw;
    margin-left: 10vw;
    height: 20vw;
    width: 80vw;
    background-color: transparent;
    color: #bfbfbf;
    font-family: CintaBook;
    font-size: 5vw;
    text-align: center;
    -webkit-user-select: none;
    outline: none;
}

/*кнопка теста*/

.firstSpaceTests
{
    margin:0;
    height:2vw;
    width:100vw;
    background: transparent;
    display:block;
}

.testButton
{
    box-shadow: 0 0 4.8vw -3.4vw rgba(0,0,0, 1);
    background-color: white;
    border: none;
    outline: none;
    -webkit-user-select: none;
    margin-left: 5vw;
    margin-top: 5vw;
    height: 30vw;
    width: 90vw;
    transition: all 0.3s ease;
    color:white;
    display: inline-block;
}
.testButton:active
{
    transform: scale(0.95);
}

/*кнопка теста под редакцией*/

.testButton_edit
{
    /*box-shadow: 0 0 1vh 0vw rgba(0,0,0, 0.3);*/
    box-shadow: 0 0 4.8vw -3.4vw rgba(0,0,0, 1);
    background-color: white;
    border:none;
    outline: none;
    -webkit-user-select: none;
    margin-left: 5vw;
    margin-top: 5vw;
    height: 30vw;
    width: 90vw;
    transition: all 0.3s ease;
    color:white;
    display: inline-block;
}

/*текст внутри кнопки теста*/

.testNameBut
{
    /*position: absolute;*/
    background-color: transparent;
    text-align: left;
    display: inline-block;
    color: black;
    font-family:CintaBook;
    font-size: 5vw;
    margin-top: 0%;
    margin-left: 0vw;
    height:30vw;
    width: 60vw; 
    /*строка снизу центрует текст внутри div по вертикали*/
    line-height:30vw;      
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*текст внутри кнопки теста под редакцией*/

.testNameBut_edit
{
    /*position: absolute;*/
    background-color: transparent;
    text-align: left;
    display: inline-block;
    color: black;
    font-family:CintaBook;
    font-size: 5vw;
    margin-top: 0vw;
    /*margin-left: 5vw;*/
    margin-left: 0vw;
    height:30vw;
    width: 40vw; 
    /*строка снизу центрует текст внутри div по вертикали*/
    line-height:30vw;       
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.test_edit_toQuestion_button
{
    /*position:absolute;*/
    /*margin-top: -21.5vw;*/
    /*margin-top: -8.5vw;*/
    margin-bottom: 8.5vw;
    /*margin-left: 53vw;*/
    margin-left: 5vw;
    height: 13vw;
    width: 13vw;
    display: inline-block;
    /*border:none;*/
    /*outline:none;*/
    /*-webkit-user-select:none;*/
    background-image: url('../img/edit_test.png');
    background-size: cover;
    background-color: transparent;
}

.test_edit_delete_button
{
    /*position:absolute;*/
    /*margin-top: -13vw;*/
    /*margin-top: -8.5vw;*/
    margin-bottom: 8.5vw;
    /*margin-left: 68vw;*/
    margin-left: 2vw;
    height: 13vw;
    width: 13vw;
    display: inline-block;
    /*border:none;
    outline:none;
    -webkit-user-select:none;*/
    background-image: url('../img/delete.png');
    background-size: cover;
    background-color: transparent;
}

/*============ кнопки тестов ==== конец ===========================================*/

        /*табличка с названием теста и количеством вопросов (а под ним список вопросов)*/

        .testNameTop
        {
            text-align: left;
            color: black;
            font-family:CintaHeavy;
            font-size: 5.5vw;
            margin-top: 0vw;
            margin-left: 6vw;
            height:6vw;
            width:88vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            /*text-indent: 2vw;*/
        }

        .testCountQuest
        {
            text-align: 0.1vw left;
            /*color: #00b050;*/
            color: black;
            font-family:CintaBook;
            font-size: 4.5vw;
            margin-top: 2vw;
            margin-left: 6vw;
            height:5vw;
            width:88vw;
        }

        /*кнопка вопроса*/
        .questBut
        {
            background-color: transparent;
            border-bottom: 0.2vw solid rgba(191,191,191,1);
            margin-left: 6vw;
            margin-top: 0vw;
            height: 30vw;
            width: 88vw;
            transition: all 0.2s ease;
        }

        .questSpace
        {
            height:13vw;
        }

        .questName
        {
            /*position: absolute;*/
            background-color: transparent;
            text-align: left;
            display: inline-block;
            color: black;
            font-family:CintaBook;
            font-size: 5vw;
            margin-top: 0vw;
            margin-left: 6vw;
            height:30vw;
            width: 40vw; 
            /*строка снизу центрует текст внутри div по вертикали*/
            line-height:30vw;       
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            /*text-align: left;
            /*position: absolute;*/
            /*color: black;
            font-family:CintaBook;
            font-size: 5vw;
            margin-top: 0vw;
            margin-left: 6vw;
            height:6vw;
            width:88vw;*/
            /*для вырав*/
            /*line-height:30vw;      
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;*/
        }

        .editQuest
        {
            margin-bottom: 7.5vw;
            margin-left: 5vw;
            height: 15vw;
            width: 15vw;
            display: inline-block;
            background-image: url('../img/edit.png');
            background-size: cover;
            background-color: transparent;

            /*width:15vw;
            height:15vw;
            margin-top: -10vw;
            margin-left: 55vw;
            background-image: url('../img/edit.png');
            background-size: cover;
            background-color: transparent;*/
        }

        .deleteQuest
        {
            margin-bottom: 7.5vw;
            /*margin-left: 68vw;*/
            margin-left: 2vw;
            height: 15vw;
            width: 15vw;
            display: inline-block;
            /*border:none;
            outline:none;
            -webkit-user-select:none;*/
            background-image: url('../img/delete.png');
            background-size: cover;
            background-color: transparent;

            /*width:15vw;
            height:15vw;
            margin-top: -15vw;
            margin-left: 72vw;
            background-image: url('../img/delete.png');
            background-size: cover;
            background-color: transparent;*/
        }





/* -------- Создание вопроса -------- начало --------*/

        
        .createNameTop
        {
            text-align: left;
            color: black;
            font-family:CintaHeavy;
            font-size: 5.5vw;
            margin-top: 0vw;
            margin-left: 6vw;
            height:6vw;
            width:88vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-indent: 3vw;
        }

        .createСountQuest
        {
            text-align: 0.1vw left;
            /*color: #00b050;*/
            color: black;
            font-family:CintaBook;
            font-size: 4.5vw;
            margin-top: 2vw;
            margin-left: 6vw;
            height: 8vw;
            width: 50vw;
            border-bottom: 0.4vw solid black;
            text-indent: 3vw;
        }

        .questionCreateSecondBlock
        {
            text-align: 0.1vw left;
            /*color: #00b050;*/
            color: black;
            font-family:CintaBook;
            font-size: 5.5vw;
            margin-top: 0vw;
            margin-left: 6vw;
            height: 12.4vw;
            width: 88vw;
            border-bottom: 0.4vw solid black;
        }

        .questionCreateName
        {
            color: black;
            font-family:CintaBook;
            font-size: 5.5vw;
            margin-top: 0vw;
            margin-left: 0vw;
            height: 12.4vw;
            width: 88vw;
            line-height: 12.4vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-indent: 3vw;
        }

        /* блок добавления элемента */
        .add_element_block
        {
            margin-left: 6vw; 
            width: 88vw; 
            height: 30vw; 
            /*display: none; */
            display: inline-block; 
            background-color: transparent;
        }

        .add_element_instruction
        {
            margin-left: 6vw;
            width: 76vw;
            height: 20vw;
            background-color: transparent;
            color: #7f7f7f;
            font-family:CintaBook;
            font-size: 4.8vw;
            padding-left: 6vw;
            padding-right: 6vw;
            padding-top: 10vw;
            vertical-align: middle;
        }

        .add_text
        {
            margin-top: 0;
            margin-left: 6vw;
            height: 12vw;
            width: 12vw;
            display: inline-block;
            background-image: url('../img/add_elem/text.png');
            background-size: cover;
            background-color: transparent;
            border: none;
            -webkit-user-select: none;
            outline:none;
        }

        .add_image
        {
            margin-top: 0vw;
            margin-left: 4vw;
            height: 12vw;
            width: 12vw;
            display: inline-block;
            /*background-color: red;*/
            background-image: url('../img/add_elem/image.png');
            background-size: cover;
            background-color: transparent;
            border: none;
            -webkit-user-select: none;
            outline:none;
        }

        .add_video
        {
            margin-top: 0vw;
            margin-left: 4vw;
            height: 12vw;
            width: 12vw;
            display: inline-block;
            /*background-color: red;*/
            background-image: url('../img/add_elem/video.png');
            background-size: cover;
            background-color: transparent;
            border: none;
            -webkit-user-select: none;
            outline:none;
        }

        .add_sound
        {
            margin-top: 0vw;
            margin-left: 4vw;
            height: 12vw;
            width: 12vw;
            display: inline-block;
            /*background-color: red;*/
            background-image: url('../img/add_elem/sound.png');
            background-size: cover;
            background-color: transparent;
            border: none;
            -webkit-user-select: none;
            outline:none;
        }

        .add_voice
        {
            margin-top: 0vw;
            margin-left: 4vw;
            height: 12vw;
            width: 12vw;
            display: inline-block;
            /*background-color: red;*/
            background-image: url('../img/add_elem/voice.png');
            background-size: cover;
            background-color: transparent;
            border: none;
            -webkit-user-select: none;
            outline:none;
        }

        /* блок текста */
        .text_block
        {
            margin-left: 6vw;
            height: auto;
            width: 88vw;
            background-color: transparent;
            padding-bottom: 6vw;
            /*padding: 6vw;*/
            /*color: black;
            font-family:CintaBook;
            font-size: 4.8vw;
            padding-left: 6vw;
            padding-right: 6vw;
            padding-top: 10vw;*/
        }

        .text_block_input_div
        {
            display: inline-block;
            height: auto;
            min-height: 13vw;
            width:69vw;
            background-color: transparent;
            margin-left: 6vw;
            /*margin-bottom: 0;*/
        }

        .text_block_input
        {
            height: auto;
            width: 69vw;
            border: none;
            -webkit-user-select: none;
            outline: none;
            color: black;
            resize: none;
            display: block;
            background-color: transparent;
            font-family:CintaBook;
            font-size: 4.8vw;
        }

        .text_block_delete_div
        {
            display: inline-block;
            height: auto;
            min-height: 13vw;
            width:13vw;
            background-color: transparent;
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
        }

        .text_block_delete
        {
            -webkit-user-select: none;
            outline: none;
            border: none;

            height: 13vw;
            width: 13vw;
            margin-top: calc(50% - 6.5vw);
            display: block;
            /*margin-left: 60vw;*/

            background-image: url('../img/delete.png');
            background-size: cover;
            background-color: transparent;
        }


        /*блок картинок*/
        .image_block
        {
            margin-left: 6vw;
            height: auto;
            width: 88vw;
            background-color: transparent;
            padding-bottom: 6vw;  
        }

        .image_block_images
        {
            width: 88vw;
            margin: 0;
            height: auto;
            /*height: 20vw;*/
            background-color: transparent;
        }

        .image_block_one_image_container
        {
            width: auto;
            height: auto;
            margin: 0;
            padding-top: 2vw;
            padding-bottom: 2vw;

            padding-right: 2vw;
            padding-left: 2vw;

            display: inline-block;

            /*1, 2
            padding-right: 4vw;
            padding-left: 4vw;

            /*3
            padding-right: 2vw;
            padding-left: 2vw;*/
        }

        .image_block_one_image_img
        {
            width: 25.3vw;
            margin: 0;
            height: auto;

            /*1
            width: 80vw;*/

            /*2
            width: 36vw;*/

            /*3
            width: 25.3vw;*/
        }

        .image_block_one_image_sign_delete_container
        {
            background-color: #bfbfbf;   
            height: 7vw;
            width: 14vw;
            margin-top: 0vw;
            margin-left: 0vw;
            display: block;
            border-radius: 3.5vw;
        }

        .image_block_one_image_sign
        {
            background-color: #bfbfbf;
            border-radius: 3.5vw;
            color: white;
            height: 7vw;
            width: 7vw;
            /*margin-top: 4vw;*/
            /*margin-left: 0vw;*/
            font-family: CintaHeavy;
            font-size: 4vw;
            -webkit-user-select: none;
            outline: none;
            border: none;
            vertical-align: top;
            display: inline-block;
        }

        .image_block_one_image_delete
        {
            background-image: url('../img/delete_image.png');
            background-size: cover;
            border-radius: 3.5vw;
            background-color: #bfbfbf;
            height: 7vw;
            width: 7vw;
            /*margin-top: -4vw;*/
            /*margin-left: 0vw;*/
            -webkit-user-select: none;
            outline: none;
            border: none;
            display: inline-block;   
        }

        .image_block_panel
        {
           /*margin-left: 6vw;*/
           height: 13vw;
           width: 88vw;
           background-color: transparent;
           /*padding-bottom: 6vw;*/
        }

        .image_block_add_image
        {
           margin: 0;
           padding: 0;
           -webkit-user-select: none;
           outline: none;
           border: none;
           height: 13vw;
           width: 13vw;
           background-image: url('../img/add image.png');
           background-size: cover;
           background-color: transparent;
           display: block;
        }

        .image_block_scale_text
        {
           margin-top: -13vw;
           margin-left: 18vw;
           height: 13vw;
           width: 25vw;
           text-align: right;
           line-height: 13vw;
           color: #bfbfbf;
           font-family:CintaBook;
           font-size: 5vw;
           background-color: transparent;
           display: block;
           /*color: black;*/
        }

        .image_block_scale
        {
           margin-top: -13vw;
           margin-left: 45vw;
           height: 13vw;
           width: 20vw;
           background-color: transparent;
           display: block;
        }

        .image_block_plus
        {
           margin-top: 3vw;
           margin-left: 2vw;
           padding: 0;
           -webkit-user-select: none;
           outline: none;
           border: none;
           height: 7vw;
           width: 7vw;
           background-image: url('../img/scale_plus.png');
           background-size: cover;
           background-color: transparent;
           display: inline-block;
           opacity: 0.5;
        }

        .image_block_minus
        {
           margin-top: 3vw;
           margin-left: 4vw;
           padding: 0;
           -webkit-user-select: none;
           outline: none;
           border: none;
           height: 7vw;
           width: 7vw;
           background-image: url('../img/scale_minus.png');
           background-size: cover;
           background-color: transparent;
           display: inline-block;
           opacity: 1;
        }

        .image_block_delete
        {
           margin-top: -13vw;
           margin-left: 75vw;
           padding: 0;
           -webkit-user-select: none;
           outline: none;
           border: none;
           height: 13vw;
           width: 13vw;
           background-image: url('../img/delete.png');
           background-size: cover;
           background-color: transparent;
           display: block;
        }




        /* блок видео*/

        .video_block
        {
            margin-left: 6vw;
            height: auto;
            /*height: 10vw;*/
            width: 88vw;
            background-color: transparent;
            padding-bottom: 6vw;  
        }

        .video_block_video
        {
            width: 80vw;
            padding-left: 4vw;
            padding-top: 4vw;
            background-color: transparent;
        }

        .video_block_panel
        {
           /*margin-left: 6vw;*/
           height: 13vw;
           width: 88vw;
           background-color: transparent;
           /*padding-bottom: 6vw;*/
        }

        .video_block_delete
        {
           margin-top: 0vw;
           margin-left: 75vw;
           padding: 0;
           -webkit-user-select: none;
           outline: none;
           border: none;
           height: 13vw;
           width: 13vw;
           background-image: url('../img/delete.png');
           background-size: cover;
           background-color: transparent;
           display: block;
        }




        /* блок аудио*/

        .audio_block
        {
            margin-left: 6vw;
            height: auto;
            /*height: 10vw;*/
            width: 88vw;
            background-color: transparent;
            padding-bottom: 6vw;  
        }

        .audio_block_audio
        {
            width: 75vw;
            /*height: 13vw;*/
            /*padding-left: 4vw;*/
            padding-top: 4vw;
            display: block;
            -webkit-user-select: none;
            outline: none;
        }

        .audio_block_audio::-webkit-media-controls-mute-button {
            display: none !important;
        }

        .audio_block_delete
        {
           margin-top: -13vw;
           margin-left: 75vw;
           padding: 0;
           -webkit-user-select: none;
           outline: none;
           border: none;
           height: 13vw;
           width: 13vw;
           background-image: url('../img/delete.png');
           background-size: cover;
           background-color: transparent;
           display: block;
        }


        /* блок записи */

        .record_block
        {
            margin-left: 6vw;
            height: auto;
            /*height: 10vw;*/
            width: 88vw;
            background-color: transparent;
            padding-bottom: 6vw;  
        }

        .record_block_record
        {
            width: 75vw;
            /*height: 13vw;*/
            /*padding-left: 4vw;*/
            padding-top: 4vw;
            display: block;
            -webkit-user-select: none;
            outline: none;
        }

        .record_block_record::-webkit-media-controls-mute-button {
            display: none !important;
        }

        .record_block_delete
        {
           margin-top: -13vw;
           margin-left: 75vw;
           padding: 0;
           -webkit-user-select: none;
           outline: none;
           border: none;
           height: 13vw;
           width: 13vw;
           background-image: url('../img/delete.png');
           background-size: cover;
           background-color: transparent;
           display: block;
        }




        /*нижняя панель*/
        .quest_panel_button_create_question_wide 
        {
            background-color: transparent;
            border:none;
            outline: none;
            -webkit-user-select: none;
            margin-top: 0;
            margin-left: 65vw;
            height:7vh;
            width:35vw;
            text-align: left;
            display: block;
            color:#bfbfbf;
            font-family:CintaSemibold;
            font-size: 2.5vh;
        }

        /* Стрелка кнопки ответа на нижней панели */
        .quest_panel_button_create_question_plus
        {
            position:absolute;
            margin-top: -2.5vh;
            margin-left: 16vw;
            height:2.2vh;
            width:2.2vh;
            background-image: url('../img/answer_up.png');
            background-size: cover;
            background-color: transparent;
        }

    /*=== панель текстового ответа ===*/

.transparent_plate_ta
{
    display: none;
    /*z-index: 10;*/
    position: absolute;
    background: transparent;
    height: 60vh;
    width: 100vw;
    margin-left: 0;
    margin-top: -86vh;
}

.test_bottom_panel_text_answer
{
    position: absolute;
    display: none;
    /*z-index: 11;*/
    margin-top: -26vh;
    margin-left: 0;
    height: 40vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.nazvanie_label_text_answer
{
    /*position: absolute;*/
    margin-top: 0vw;
    margin-left: 15vw;
    height: 6vw;
    width: 60vw;
    background-color: transparent;
    color: rgb(191,191,191);
    font-family:CintaLight;
    font-size: 5vw;
}

.text_answer_input
{
    /*position: absolute;*/
    margin-top: 0vw;
    margin-left: 15vw;
    height: 10vw;
    width: 65vw;
    background-color: transparent;
    color: black;
    font-family: CintaBook;
    font-size: 5vw;
    border: none;
    outline: none;
    -webkit-user-select: none;
}

.add_new_answer_button
{
    background-color: transparent;
    height: 20vw;
    width: 45vw;
    margin-top: 8vw;
    margin-left: 55vw;
}

.add_new_answer_text
{
    background-color: transparent;
    height: 20vw;
    width: 25vw;
    margin-top: 0vw;
    margin-left: 0vw;
    line-height: 20vw;
    font-family:CintaSemibold;
    text-align: right;
    font-size: 5vw;
    color: rgb(191,191,191);
}

.add_new_answer_next
{
    /*position:absolute;*/
    margin-top: -17.5vw;
    margin-left: 25vw;
    height:15vw;
    width:15vw;
    display: block;
    border:none;
    outline:none;
    -webkit-user-select:none;
    background-image: url('../img/next.png');
    background-size: cover;
    background-color: transparent;
}

    /*=== панель текстового ответа === конец ===*/


    /*=== панель числового ответа ===*/

.transparent_plate_na
{
    display: none;
    position: absolute;
    background: transparent;
    height: 60vh;
    width: 100vw;
    margin-left: 0;
    margin-top: -86vh;
}

.test_bottom_panel_number_answer
{
    position: absolute;
    display:none;
    /*z-index: 11;*/
    margin-top: -26vh;
    margin-left: 0;
    height: 40vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.nazvanie_label_number_answer
{
    /*position: absolute;*/
    margin-top: 0vw;
    margin-left: 15vw;
    height: 6vw;
    width: 60vw;
    background-color: transparent;
    color: rgb(191,191,191);
    font-family:CintaLight;
    font-size: 5vw;
}

.number_answer_input
{
    /*position: absolute;*/
    margin-top: 0vw;
    margin-left: 15vw;
    height: 10vw;
    width: 65vw;
    background-color: transparent;
    color: black;
    font-family: CintaBook;
    font-size: 5vw;
    border: none;
    outline: none;
    -webkit-user-select: none;
}

.add_new_number_answer_button
{
    background-color: transparent;
    height: 20vw;
    width: 45vw;
    margin-top: 8vw;
    margin-left: 55vw;
}

.add_new_answer_number
{
    background-color: transparent;
    height: 20vw;
    width: 25vw;
    margin-top: 0vw;
    margin-left: 0vw;
    line-height: 20vw;
    font-family:CintaSemibold;
    text-align: right;
    font-size: 5vw;
    color: rgb(191,191,191);
}

.add_new_answer_number_next
{
    /*position:absolute;*/
    margin-top: -17.5vw;
    margin-left: 25vw;
    height:15vw;
    width:15vw;
    display: block;
    border:none;
    outline:none;
    -webkit-user-select:none;
    background-image: url('../img/next.png');
    background-size: cover;
    background-color: transparent;
}

    /*=== панель числового ответа === конец ===*/


    /*=== панель вариантов ответа ===*/

.transparent_plate_va
{
    display: none;
    position: absolute;
    background: transparent;
    height: 26vh;
    width: 100vw;
    margin-left: 0;
    margin-top: -86vh;
}

.test_bottom_panel_variant_answer
{
    position: absolute;
    display: none;
    margin-top: -60vh;
    margin-left: 0;
    height: 74vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.nazvanie_label_variant_answer
{
    margin-top: 0vw;
    margin-left: 15vw;
    height: 6vw;
    width: 60vw;
    background-color: transparent;
    color: rgb(191,191,191);
    font-family:CintaLight;
    font-size: 5vw;
}

.add_new_answer_variant_next
{
    height:15vw;
    width: auto;
    line-height: 15vw;
    font-family: CintaBook;
    text-align: right;
    font-size: 5vw;
    display: inline-block;
}

.only_one_variant
{
    background-color: transparent;
    height:13vw;
    width:100vw;
    margin-top: 0;
    display: inline-block;
    /*background-color: transparent;*/
}

.a_few_variants
{
    background-color: transparent;
    height:13vw;
    width:100vw;
    margin-top: 0;
    display: inline-block;
    /*background-color: transparent;*/
}

.choose_only_one
{
    margin-top: 5vw;
    margin-left: 12vw;
    height: 5vw;
    width: 5vw;
    background-image: url('../img/i_am_choosen.png');
    background-size: cover;
    display: block;
    /*display: inline-block;*/
}

.choose_a_few_variants
{
    margin-top: 5vw; 
    margin-left: 12vw; 
    height: 5vw; 
    width: 5vw; 
    background-image: url('../img/choose_me.png');
    background-size: cover;
    display: block;
    /*display: inline-block;*/
}

.text_only_one
{
    background-color: transparent;
    margin-top: -10vw;
    margin-left: 20vw;
    height:15vw;
    width: 70vw;
    line-height: 15vw;
    font-family: CintaBook;
    text-align: left;
    font-size: 5vw;
    /*display: inline-block;*/
}

.text_a_few_variants
{
    background-color: transparent;
    margin-top: -10vw;
    margin-left: 20vw;
    height:15vw;
    width: 70vw;
    line-height: 15vw;
    font-family: CintaBook;
    text-align: left;
    font-size: 5vw;
    /*display: inline-block;*/
}

.add_new_variant_answer_button
{
    background-color: transparent;
    height: 20vw;
    width: 45vw;
    /*margin-top: 8vw;*/
    margin-left: 55vw;
}

.add_new_answer_variant
{
    background-color: transparent;
    height: 20vw;
    width: 25vw;
    margin-top: 0vw;
    margin-left: 0vw;
    line-height: 20vw;
    font-family:CintaSemibold;
    text-align: right;
    font-size: 5vw;
    color: rgb(191,191,191);
}

.add_new_answer_variant_next
{
    /*position:absolute;*/
    margin-top: -17.5vw;
    margin-left: 25vw;
    height:15vw;
    width:15vw;
    display: block;
    border:none;
    outline:none;
    -webkit-user-select:none;
    background-image: url('../img/next.png');
    background-size: cover;
    background-color: transparent;
}

.variants_space
{
    width: 100vw;
    height: 65vw;
    margin-top: 0vw;
    margin-left: 0;
    background-color: transparent;
    overflow-y: scroll;
}

.add_variant_button
{
    margin-left: 25vw;
    height:15vw;
    width:50vw;
    background-color: transparent;
}

.add_variant_button_text
{
    height: 15vw;
    width: 40vw;
    color: #bfbfbf;
    line-height: 15vw;
    font-family:CintaSemibold;
    text-align: right;
    font-size: 4.5vw;
    display: block;
    background-color: transparent;
}

.add_variant_button_plus
{
    margin-top: -12.5vw;
    margin-left: 40vw;
    height: 10vw;
    width: 10vw;
    background-image: url('../img/add image.png');
    background-size: cover;
    display: block;
    background-color: transparent;
}

.variant_class
{
    height: 15vw;
    width: 100vw;
    background-color: transparent;
}

.variant_input
{
    margin-top: 0vw;
    margin-left: 11vw;
    height: 15vw;
    width: 47vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    background-color: white;
    color: black;
    font-family: CintaBook;
    font-size: 5vw;
    border: none;
    outline: none;
    -webkit-user-select: none;
}

.variant_schelk
{
    margin-top: -11.5vw;
    margin-left: 60vw;
    height: 7vw;
    width: 14vw;
    background-image: url('../img/var_no.png');
    background-size: cover;
}

.variant_delete
{
    margin-top: -8.5vw;
    margin-left: 80vw;
    height: 10vw;
    width: 10vw;
    background-image: url('../img/delete.png');
    background-size: cover;   
}

/*=== панель вариантов ответа === конец ===*/


/* -------- Создание вопроса -------- конец --------*/

/* -------- Перемешивать вопросы или нет -----------------------*/

.mix_or_not_space
{
    margin: 0;
    height: 84vh;
    width: 100vw;
    background: white; 
    display: none; 
    overflow: scroll;
}

.transparent_plate_da
{
    display: none;
    position: absolute;
    background: transparent;
    height: 60vh;
    width: 100vw;
    margin-left: 0;
    margin-top: -86vh;
}

.test_bottom_panel_da_answer
{
    position: absolute;
    display:none;
    /*z-index: 11;*/
    margin-top: -26vh;
    margin-left: 0;
    height: 40vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.nazvanie_label_da_answer
{
    /*position: absolute;*/
    margin-top: 0vw;
    margin-left: 15vw;
    height: 6vw;
    width: 60vw;
    background-color: transparent;
    color: rgb(191,191,191);
    font-family:CintaLight;
    font-size: 5vw;
}

.quest_panel_bottom_mix_back
{
    position: absolute;
    margin-top: 0vh;
    margin-left: 11vw;
    height: 7vh;
    width: 7vh;
    display: block;
    border: none;
    outline: none;
    -webkit-user-select: none;
    background-image: url('../img/back.png');
    background-size: cover;
    background-color: transparent;
}

.mix_it
{
    height: 14vw;
    width: 100vw;
    color: black;
    background-color: transparent;
    font-family: CintaBook;
    font-size: 5vw;
    text-align: left;
    text-indent: 20vw;
    border: none;
    outline: none;
    -webkit-user-select: none;
    transition: all 0.2s ease;
}
.mix_it:active
{
    /*opacity: 0;*/
    margin-left: -3vw;
}

.don_t_mix_it
{
    height: 14vw;
    width: 100vw;
    color: black;
    background-color: transparent;
    font-family: CintaBook;
    font-size: 5vw;
    text-align: left;
    text-indent: 20vw;
    border: none;
    outline: none;
    -webkit-user-select: none;    
    transition: all 0.2s ease;
}
.don_t_mix_it:active
{
    /*opacity: 0;*/
    margin-left: -3vw;
}

.start_test_name
{
    height:10vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 25vh;
    color: black;
    background-color: transparent;
    font-family: CintaSemibold;
    font-size: 5.3vw;
    text-align: center;
    line-height: 10vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.start_test_questions_num
{
    height: 7vw;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
    color: black;
    background-color: transparent;
    font-family: CintaBook;
    font-size: 4.7vw;
    text-align: center;
    line-height: 7vw;
}

/* -------- Перемешивать вопросы или нет ---------- конец -------*/


/* -------- Прохождение теста ----------------------*/


    /*=== панель прохождения теста ===*/

.quest_bottom_panel_test
{
    position: absolute;
    display: none;
    margin-top: 0;
    margin-left: 0;
    height: 14vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.quest_panel_bottom_list_back_test
{
    position: absolute;
    margin-top: 0vh;
    margin-left: 11vw;
    height: 7vh;
    width: 7vh;
    display: block;
    border: none;
    outline: none;
    -webkit-user-select: none;
    background-image: url('../img/back.png');
    background-size: cover;
    background-color: transparent;
}

.quest_panel_button_create_question_wide_test
{
    background-color: transparent;
    border:none;
    outline: none;
    -webkit-user-select: none;
    margin-top: 0;
    margin-left: 41vw;
    height:7vh;
    width:60vw;
    text-align: center;
    display: block;
    color:#bfbfbf;
    font-family:CintaSemibold;
    font-size: 2.5vh;
}

.quest_panel_button_create_question_plus_test
{
    position:absolute;
    margin-top: -2.5vh;
    margin-left: 41vw;
    height:2.2vh;
    width:2.2vh;
    background-image: url('../img/answer_up.png');
    background-size: cover;
    background-color: transparent;
}

    /*=== панель прохождения теста === конец*/

    /*=== блок прохождения теста === */

    .createNameTop_test
    {
        text-align: left;
        color: black;
        font-family:CintaHeavy;
        font-size: 5.5vw;
        margin-top: 0vw;
        margin-left: 6vw;
        height:6vw;
        width:88vw;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 3vw;
    }

    .createСountQuest_test
    {
        text-align: 0.1vw left;
        /*color: #00b050;*/
        color: black;
        font-family:CintaBook;
        font-size: 4.5vw;
        margin-top: 2vw;
        margin-left: 6vw;
        height:8vw;
        width:50vw;
        border-bottom: 0.4vw solid black;
        text-indent: 3vw;
    }

    .questionCreateSecondBlock_test
    {
        text-align: 0.1vw left;
        /*color: #00b050;*/
        color: black;
        font-family:CintaBook;
        font-size: 5.5vw;
        margin-top: 0vw;
        margin-left: 6vw;
        height: 12.4vw;
        width: 88vw;
        border-bottom: 0.4vw solid black;
    }

    .questionCreateName_test
    {
        color: black;
        font-family:CintaBook;
        font-size: 5.5vw;
        margin-top: 0vw;
        margin-left: 0vw;
        height: 12.4vw;
        width: 88vw;
        line-height: 12.4vw;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 3vw;
    }

        .add_element_instruction_test
        {
            margin-left: 6vw;
            width: 76vw;
            height: 0vw;
            background-color: transparent;
            color: #7f7f7f;
            font-family:CintaBook;
            font-size: 4.8vw;
            padding-left: 6vw;
            padding-right: 6vw;
            padding-top: 10vw;
            vertical-align: middle;
        }

        .text_block_input_div_test
        {
            display: inline-block;
            height: auto;
            min-height: 13vw;
            width: 76vw;
            background-color: transparent;
            margin-left: 6vw;
            /*margin-bottom: 0;*/
        }

        .text_block_input_test
        {
            height: auto;
            width: 76vw;
            border: none;
            -webkit-user-select: none;
            outline: none;
            color: black;
            resize: none;
            display: block;
            background-color: transparent;
            font-family: CintaBook;
            font-size: 4.8vw;
        }

        .image_block_one_image_sign_delete_container_test
        {
            background-color: #bfbfbf;   
            height: 7vw;
            width: 7vw;
            margin-top: 0vw;
            margin-left: 0vw;
            display: block;
            border-radius: 3.5vw;
        }

        .audio_block_audio_test
        {
            width: 88vw;
            /*height: 13vw;*/
            /*padding-left: 4vw;*/
            padding-top: 4vw;
            display: block;
            -webkit-user-select: none;
            outline: none;
        }

        .audio_block_audio_test::-webkit-media-controls-mute-button {
            display: none !important;
        }

        .record_block_record_test
        {
            width: 88vw;
            /*height: 13vw;*/
            /*padding-left: 4vw;*/
            padding-top: 4vw;
            display: block;
            -webkit-user-select: none;
            outline: none;
        }

        .record_block_record_test::-webkit-media-controls-mute-button {
            display: none !important;
        }

        /*=== блок прохождения теста === */

    /*=== панель ввода вариантов ответа при прохождении ===*/

.transparent_plate_vit
{
    display: none;
    position: absolute;
    background: transparent;
    height: 40vh;
    width: 100vw;
    margin-left: 0;
    margin-top: -86vh;
}

.test_bottom_panel_variant_started
{
    position: absolute;
    display: none;
    margin-top: -46vh;
    margin-left: 0;
    height: 60vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.nazvanie_label_variant_started
{
    margin-top: 0vw;
    margin-left: 8vw;
    height: 6vw;
    width: 84vw;
    background-color: transparent;
    color: rgb(191,191,191);
    font-family:CintaLight;
    font-size: 5vw;
}

.variants_space_started
{
    width: 100vw;
    height: 67vw;
    margin-top: 0vw;
    margin-left: 0;
    background-color: transparent;
    overflow-y: scroll;
}

.add_new_started_button
{
    background-color: transparent;
    height: 20vw;
    width: 45vw;
    margin-top: 3vw;
    margin-left: 55vw;
}

.variant_started_box
{
    background-color: transparent;
    height: 11vw;
    width: 100vw;

    display: inline-block;
    margin-top: 0vw;
    /*margin-left: 55vw;*/
}

.variant_started_sign
{
    margin-top: 3vw;
    margin-left: 12vw;
    height: 5vw;
    width: 5vw;
    background-image: url('../img/choose_me.png');
    background-size: cover;
    display: block;
    background-color: transparent;
}

.variant_started_text
{
    background-color: transparent;
    font-family: CintaBook;
    font-size: 5vw;
    height: 11vw;
    width: 55vw;
    margin-top: -8vw;
    margin-left: 27vw;
    line-height: 11vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*background-color: white;*/
    color: black;
    display: block;
}

    /*=== панель ввода вариантов ответа при прохождении === конец ===*/

    /*=== панель без ответа при прохождении ===*/

.i_was_right
{
    height: 14vw;
    width: 100vw;
    color: black;
    background-color: transparent;
    font-family: CintaBook;
    font-size: 5vw;
    text-align: left;
    text-indent: 15vw;
    border: none;
    outline: none;
    -webkit-user-select: none;
    transition: all 0.2s ease;
}
.i_was_right:active
{
    /*opacity: 0;*/
    margin-left: -3vw;
}

.i_was_wrong
{
    height: 14vw;
    width: 100vw;
    color: black;
    background-color: transparent;
    font-family: CintaBook;
    font-size: 5vw;
    text-align: left;
    text-indent: 15vw;
    border: none;
    outline: none;
    -webkit-user-select: none;    
    transition: all 0.2s ease;
}
.i_was_wrong:active
{
    /*opacity: 0;*/
    margin-left: -3vw;
}

    /*=== панель без ответа при прохождении === конец ===*/

    /*=== итоги теста ===*/

.quest_panel_button_create_question_plus_test_end
{
    position:absolute;
    margin-top: -2.5vh;
    margin-left: 41vw;
    height:2.2vh;
    width:2.2vh;
    background-image: url('../img/next_close.png');
    background-size: cover;
    background-color: transparent;
}

.result_main_label
{
    margin-left: 0;
    margin-top: 16.5vh;
    width: 100vw;
    height: 12vw;
    background-color: transparent;
    color: black;
    font-family: CintaBook;
    font-size: 12vw;
    text-align: center;
}

.result_sub_label
{
    margin-left: 0;
    margin-top: 5vw;
    width: 100vw;
    height: 9vw;
    background-color: transparent;
    color: #bfbfbf;
    font-family: CintaBook;
    font-size: 9vw;
    text-align: center;   
}

.result_show
{
    margin-left: 0;
    margin-top: 18vw;
    width: 100vw;
    height: 9vw;
    background-color: transparent;
    color: #bfbfbf;
    font-family: CintaLight;
    font-size: 5.2vw;
    text-align: center;   
}

.answer_check
{
    height: 13vw;
    width: 100vw;
    background-color: ;
    display: inline-block;
}

.answer_check_next
{
    margin-top: 0vw;
    margin-left: 4vw;
    height: 13vw;
    width: 13vw;
    display: block;
    background-image: url('../img/next black.png');
    background-size: cover;   
}

.answer_check_text
{
    margin-top: -13vw;
    margin-left: 15vw;
    height: 13vw;
    width: 55vw;
    line-height: 13vw;
    display: block;
    color: black;
    font-family: CintaSemibold;
    font-size: 5.3vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.answer_check_sign
{
    margin-top: -13vw;
    margin-left: 75vw;
    height: 13vw;
    width: 13vw;
    display: block;
    /*background-image: url('../img/right.png');*/
    background-size: cover;
}

.answer_bottom_panel_quest_real
{
    position:absolute;
    display:none;
    margin-top: -36vh;
    margin-left: 0;
    height: 50vh;
    width: 100vw;
    background: white;
    box-shadow: 0 0 2vw 0vh rgba(0,0,0, 0.3);
}

.answer_panel_bottom_real_back
{
    position: absolute;
    margin-top: 2vh;
    margin-left: 11vw;
    height: 7vh;
    width: 7vh;
    display: block;
    border: none;
    outline: none;
    -webkit-user-select: none;
    background-image: url('../img/back.png');
    background-size: cover;
    background-color: transparent;
}

.question_again
{
    height: 13vw;
    width: 70vw;
    margin-left: 9vw;
    margin-top: 3vw;
    background-color: transparent;
    line-height: 13vw;
    color: black;
    font-family: CintaSemibold;
    font-size: 5vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.question_again_next
{
    margin-top: -13vw;
    margin-left: 80vw;
    height: 13vw;
    width: 13vw;
    display: block;
    background-image: url('../img/next black.png');
    background-size: cover;   
}

.question_again_your_label
{
    height: 7vw;
    width: 70vw;
    margin-left: 9vw;
    margin-top: 3vw;
    background-color: transparent;
    line-height: 7vw;
    color: #bfbfbf;
    font-family: CintaLight;
    font-size: 5vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.question_again_your
{
    height: 7vw;
    width: 91vw;
    margin-left: 9vw;
    margin-top: 0vw;
    background-color: transparent;
    line-height: 7vw;
    color: black;
    font-family: CintaBook;
    font-size: 5vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.question_again_real_label
{
    height: 7vw;
    width: 70vw;
    margin-left: 9vw;
    margin-top: 7vw;
    background-color: transparent;
    line-height: 7vw;
    color: #bfbfbf;
    font-family: CintaLight;
    font-size: 5vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.question_again_real
{
    height: 7vw;
    width: 91vw;
    margin-left: 9vw;
    margin-top: 0vw;
    background-color: transparent;
    line-height: 7vw;
    color: black;
    font-family: CintaBook;
    font-size: 5vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.question_again_back
{
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-user-select: none;
    margin-top: 25vw;
    margin-left: 43vw;
    height:7vh;
    width:60vw;
    /*text-align: ;*/
    text-indent: -10vw;
    display: block;
    color:#bfbfbf;
    font-family: CintaSemibold;
    font-size: 2.5vh;
}

.question_again_back_no
{
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-user-select: none;
    margin-top: 46vw;
    margin-left: 43vw;
    height:7vh;
    width:60vw;
    /*text-align: ;*/
    text-indent: -10vw;
    display: block;
    color:#bfbfbf;
    font-family: CintaSemibold;
    font-size: 2.5vh;
}

.question_again_back_arrow
{
    position:absolute;
    margin-top: -2.5vh;
    margin-left: 41vw;
    height:2.2vh;
    width:2.2vh;
    background-image: url('../img/answer_down.png');
    background-size: cover;
    background-color: transparent;
}

.question_again_your_no
{
    height: 7vw;
    width: 91vw;
    margin-left: 9vw;
    margin-top: 0vw;
    background-color: transparent;
    line-height: 7vw;
    color: black;
    font-family: CintaBook;
    font-size: 5vw;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.variants_space_again
{
    width: 100vw;
    height: 54vw;
    margin-top: 0vw;
    margin-left: 0;
    background-color: transparent;
    overflow-y: scroll;
}

.question_again_back_var
{
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-user-select: none;
    margin-top: 0vw;
    margin-left: 43vw;
    height:7vh;
    width:60vw;
    /*text-align: ;*/
    text-indent: -10vw;
    display: block;
    color:#bfbfbf;
    font-family: CintaSemibold;
    font-size: 2.5vh;
}

.variant_started_right
{
    margin-top: -11vw;
    margin-left: 75vw;
    height: 11vw;
    width: 11vw;
    display: block;
    /*background-image: url('../img/right.png');*/
    background-size: cover;
}

    /*=== итоги теста === конец ===*/

/* -------- Прохождение теста --------- конец -------*/
